<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StateAssessment</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class='@(ViewData.ContainsKey("ClearBodyClass") && (bool)ViewData["ClearBodyClass"] ? "":"image-bg")'>
    <div id="top-bar" class="mb-4">
        <div class="container">
            <div class="top-in">
                <div id="top-logo">
                    <a href="/"><img src="~/images/logo.png"></a>
                </div>
                <div id="top-menu">
                    <a href="#"><img src="~/icons/three-dots.svg">
                       @* <li class="nav-item">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                            </form>
                        </li>*@
                    </a>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
